<li class="endpoint-item noun-get">
  <div class="endpoint-heading">
    <span class="noun fleft">GET</span>
    <span class="endpoint-name fleft">/review</a>
  </div>
  <div class="endpoint-content">
    <h3>Response Body</h3>
<pre>
[
  {
  "id": 53,
  "description": "Local bom, com bastante movimento",
  "rating": 3,
  "hour": "16:35:28",
  "date": "2016-11-26T00:00:00.000Z",
  "createdAt": "2016-11-26T16:35:28.768Z",
  "updatedAt": "2016-11-26T16:35:28.768Z",
  "local_id": 1123,
    "Tags": [
      {
      "id": 1,
      "name": "Iluminado",
      "createdAt": "2016-11-08T14:56:40.207Z",
      "updatedAt": "2016-11-08T14:56:40.207Z",
        "Review_Tags": {
          "createdAt": "2016-11-26T16:35:29.091Z",
          "updatedAt": "2016-11-26T16:35:29.091Z",
          "review_id": 53,
          "tag_id": 1
          }
      }
    ]
  }
 ]
</pre>
  </div><!-- .endpoint-content -->
</li>
