<li class="endpoint-item noun-post">
  <div class="endpoint-heading">
    <span class="noun fleft">POST</span>
    <span class="endpoint-name fleft">/api/review</span>
  </div>
  <div class="endpoint-content">
    <h3>Request Body</h3>
    <pre>
    {
    "description": "Local bom, com bastante movimento",
    "rating": 3,
    "local_id": 1123,
      "Tags": [
        {
          "id": 1,
        }
      ]
    }
    </pre>

    <h3>Response Body</h3>
    <pre>
    {
    "description": "Local bom, com bastante movimento",
    "rating": 3,
    "hour": "16:35:28",
    "date": "2016-11-26T00:00:00.000Z",
    "local_id": 1123,
      "Tags": [
        {
          "id": 1,
        }
      ]
    }
    </pre>
  </div><!-- .endpoint-content -->
</li>
