<li class="endpoint-item noun-get">
  <div class="endpoint-heading">
    <span class="noun fleft">GET</span>
    <span class="endpoint-name fleft">/tag</a>
  </div>
  <div class="endpoint-content">
    <h3>Response Body</h3>
<pre>
[
  {
    "id": 1,
    "name": "Iluminado",
    "createdAt": "2016-11-08T14:56:40.207Z",
    "updatedAt": "2016-11-08T14:56:40.207Z"
  },
  {
    "id": 2,
    "name": "Movimentado",
    "createdAt": "2016-11-08T14:57:19.407Z",
    "updatedAt": "2016-11-08T14:57:51.586Z"
  }
]
</pre>
  </div><!-- .endpoint-content -->
</li>
