<li class="endpoint-item noun-get">
  <div class="endpoint-heading">
    <span class="noun fleft">GET</span>
    <span class="endpoint-name fleft">/log</a>
  </div>
  <div class="endpoint-content">
    <h3>Response Body</h3>
<pre>
[
  {
    "id": 1,
    "user": "pedro",
    "role": "admin",
    "endpoint": "http://url.com/local",
    "body": {},
    "createdAt": "2016-12-23T18:30:44.618Z",
    "updatedAt": "2016-12-23T18:30:44.618Z"
  },
  {
    "id": 2,
    "user": "pedro",
    "role": "colaborator",
    "endpoint": "http://url.com/local",
    "body": {},
    "createdAt": "2016-12-23T18:33:15.053Z",
    "updatedAt": "2016-12-23T18:33:15.053Z"
  }
]
</pre>
  </div><!-- .endpoint-content -->
</li>
