{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<ul id="apis">
  <li class="api-item">
    <h2 class="api-item-title">Auth</h2>

    <ul class="endpoints">
    {% include 'auth/token.html' %}
    </ul><!-- .endpoints -->
  </li><!-- .api-item -->

  <li class="api-item">
    <h2 class="api-item-title">User</h2>

    <ul class="endpoints">
    {% include 'user/get.html' %}
    {% include 'user/get_id.html' %}
    {% include 'user/post.html' %}
    {% include 'user/put.html' %}
    {% include 'user/delete.html' %}
    {% include 'user/delete_all.html' %}
    </ul><!-- .endpoints -->
  </li><!-- .api-item -->

  <li class="api-item">
    <h2 class="api-item-title">Review</h2>

    <ul class="endpoints">
    {% include 'review/get.html' %}
    {% include 'review/get_id.html' %}
    {% include 'review/post.html' %}
    {% include 'review/delete.html' %}
    </ul><!-- .endpoints -->
  </li><!-- .api-item -->

  <li class="api-item">
    <h2 class="api-item-title">Local</h2>

    <ul class="endpoints">
    {% include 'local/get.html' %}
    {% include 'local/get_id.html' %}
    {% include 'local/get_light.html' %}
    {% include 'local/post.html' %}
    {% include 'local/put.html' %}
    {% include 'local/delete.html' %}
    </ul><!-- .endpoints -->
  </li><!-- .api-item -->

  <li class="api-item">
    <h2 class="api-item-title">Checkin</h2>

    <ul class="endpoints">
    {% include 'checkin/get.html' %}
    {% include 'checkin/get_id.html' %}
    {% include 'checkin/post.html' %}
    </ul><!-- .endpoints -->
  </li><!-- .api-item -->

  <li class="api-item">
    <h2 class="api-item-title">Tag</h2>

    <ul class="endpoints">
    {% include 'local/get.html' %}
    {% include 'local/get_id.html' %}
    {% include 'local/post.html' %}
    {% include 'local/put.html' %}
    {% include 'local/delete.html' %}
    </ul><!-- .endpoints -->
  </li><!-- .api-item -->

  <li class="api-item">
    <h2 class="api-item-title">Revision</h2>

    <ul class="endpoints">
    {% include 'revision/get.html' %}
    {% include 'revision/get_id.html' %}
    {% include 'revision/post.html' %}
    {% include 'revision/put.html' %}
    {% include 'revision/delete.html' %}
    </ul><!-- .endpoints -->
  </li><!-- .api-item -->

  <li class="api-item">
    <h2 class="api-item-title">Log</h2>

    <ul class="endpoints">
    {% include 'log/get.html' %}
    </ul><!-- .endpoints -->
  </li><!-- .api-item -->

</ul><!-- #apis -->

{% endblock %}
