<li class="endpoint-item noun-put">
  <div class="endpoint-heading">
    <span class="noun fleft">PUT</span>
    <span class="endpoint-name fleft">/user/:_id</span>
  </div>
  <div class="endpoint-content">
    <h3>Parameters</h3>
    <p>_id | String | Users's _id</p>

    <h3>Request Body</h3>
    <pre>
    {
      "fullname": "John",
      "username": "john",
      "password": "#######"
    }
    </pre>

    <h3>Response Body</h3>
    <pre>
    {
      "fullname": "John",
      "username": "john"
    }
    </pre>
  </div><!-- .endpoint-content -->
</li>
