<li class="endpoint-item noun-get">
  <div class="endpoint-heading">
    <span class="noun fleft">GET</span>
    <span class="endpoint-name fleft">/revision/:_id</a>
  </div>
  <div class="endpoint-content">
    <h3>Parameters</h3>
    <p>_id | String | Revision's _id</p>

    <h3>Response Body</h3>
    <pre>
    {
      "id": 2,
      "comments": "Teste",
      "createdAt": "2016-12-29T21:51:00.540Z",
      "updatedAt": "2016-12-29T21:51:00.540Z",
      "local_id": 921,
      "Local": {
        "id": 921,
        "lat": "-30.0358392",
        "lng": "-51.2178544",
        "structureType": "deroda",
        "isPublic": true,
        "text": "Redenção",
        "photo": "url",
        "description": "Perto do parquinho das crianças e do café.",
        "address": "Largo Prof. Francisco de Paula Brochado Rocha - Farroupilha, Porto Alegre - RS, 90040-080, Brasil",
        "createdAt": "2016-11-19T14:23:55.454Z",
        "updatedAt": "2016-12-17T19:43:23.982Z"
      }
    }
    </pre>
  </div><!-- .endpoint-content -->
</li>
