<li class="endpoint-item noun-put">
  <div class="endpoint-heading">
    <span class="noun fleft">PUT</span>
    <span class="endpoint-name fleft">/revision/:_id</span>
  </div>
  <div class="endpoint-content">
    <h3>Parameters</h3>
    <p>_id | String | Revision's _id</p>

    <h3>Request Body</h3>
    <pre>
    {
      "comments": "Message for revision"
    }
    </pre>

    <h3>Response Body</h3>
    <pre>
    {
      "id": 1,
      "local_id": 10,
      "comments": "Message for revision",
      "createdAt": "2016-11-08T14:56:40.207Z",
      "updatedAt": "2016-11-08T14:56:40.207Z"
    }
    </pre>
  </div><!-- .endpoint-content -->
</li>
