<li class="endpoint-item noun-get">
  <div class="endpoint-heading">
    <span class="noun fleft">GET</span>
    <span class="endpoint-name fleft">/local</a>
  </div>
  <div class="endpoint-content">
    <h3>Response Body</h3>
    <pre>
    [
      {
        "address": "Largo Prof. Francisco de Paula Brochado Rocha - Farroupilha, Porto Alegre - RS, 90040-080, Brasil"
        "average": "4.0000000000000000"
        "checkins": "0"
        "createdAt": "2016-11-19T14:23:55.454Z"
        "description": "Perto do parquinho das crianças e do café."
        "id": 921
        "isPublic": true
        "lat": "-30.0358392"
        "lng": "-51.2178544"
        "photo": "https://s3.amazonaws.com/bikedeboa/images/921.jpeg"
        "reviews": "1"
        "structureType": "deroda"
        "text": "Redenção"
        "updatedAt": "2016-12-17T19:43:23.982Z"
      }
    ]
    </pre>
  </div><!-- .endpoint-content -->
</li>
