<li class="endpoint-item noun-get">
  <div class="endpoint-heading">
    <span class="noun fleft">GET</span>
    <span class="endpoint-name fleft">/api/local</a>
  </div>
  <div class="endpoint-content">
    <h3>Response Body</h3>
<pre>
[  
   {
    "id": 928,
    "lat": "-30.021915",
    "lng": "-51.162729",
    "structureType": "deroda",
    "isPublic": true,
    "text": "Bourbon Country Shopping",
    "description": "Detalhe: coberto (ao lado das motos)",
    "address": "Av. Túlio de Rose, 80 - Boa Vista, Porto Alegre - RS, 91340-110, Brasil",
    "photo": "",
    "reviews": "0",
    "average": null,
    "checkins": "0"
  }
]
</pre>
  </div><!-- .endpoint-content -->
</li>
