<li class="endpoint-item noun-get">
  <div class="endpoint-heading">
    <span class="noun fleft">GET</span>
    <span class="endpoint-name fleft">/local/light</a>
  </div>
  <div class="endpoint-content">
    <h3>Response Body</h3>
    <pre>
    [
      {
        "average": "4.0000000000000000"
        "id": 931
        "isPublic": true
        "lat": "-30.037464"
        "lng": "-51.212618"
        "photo": "https://s3.amazonaws.com/bikedeboa/images/931.jpeg"
        "reviews": "1"
        "structureType": "deroda"
        "text": "Academia da Redenção"
      }
    ]
    </pre>
  </div><!-- .endpoint-content -->
</li>
