<li class="endpoint-item noun-put">
  <div class="endpoint-heading">
    <span class="noun fleft">PUT</span>
    <span class="endpoint-name fleft">/local/:_id</span>
  </div>
  <div class="endpoint-content">
    <h3>Parameters</h3>
    <p>_id | String | Local's _id</p>

    <h3>Request Body</h3>
    <pre>
    {
      "id": "1123",
      "lat": "-30.037524579889894",
      "lng": "-51.2110917075396",
      "structureType": "deroda",
      "isPublic": true,
      "text": "Prato Verde",
      "photo": (blob64),
      "description": "Próximo a garagem",
      "address": "Rua Santa Terezinha, 50 - Farroupilha, Porto Alegre - RS, 90040-180, Brasil",
        "tags": [
          {
            "id": 1
          }
        ],
      "photoUrl": "(url photo update)"
    }
    </pre>

    <h3>Response Body</h3>
    <pre>
    {
      "lat": "-30.037524579889894",
      "lng": "-51.2110917075396",
      "structureType": "deroda",
      "isPublic": true,
      "text": "Prato Verde",
      "photo": "https://s3.amazonaws.com/bikedeboa/images/1123.jpeg",
      "description": "Próximo a garagem.",
      "address": "Rua Santa Terezinha, 50 - Farroupilha, Porto Alegre - RS, 90040-180, Brasil",
        "tags": [
          {
            "name": "Fácil acesso",
            "count": "1"
          },
          {
            "name": "Iluminado",
            "count": "1"
          }
        ]
    }
    </pre>
  </div><!-- .endpoint-content -->
</li>
